@model AdministracionEmpleados.Models.NominaModel

@{
    ViewData["Title"] = "ConsultaReporteNomina";
}


<div>
    <h4>Reporte Nomina</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Empleado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Empleado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ingresos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ingresos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Deducciones)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Deducciones)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Total_Pagar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Total_Pagar)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Regresar</a>
</div>
