@model IEnumerable<AdministracionEmpleados.Models.Empleados>

@{
    ViewData["Title"] = "Index";
}
<p>
    <a asp-action="Index">Regresar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Empleado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Edad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sexo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
         <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Empleado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Edad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sexo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.ActionLink("Registrar Movimiento","RegistraMovimiento", new { id=item.Empleado, nombre= item.Nombre}) |
                @Html.ActionLink("Consultar Movimientos", "ConsultaMovimientos", new { id=item.Empleado }) |
 
            </td>
        </tr>
}
    </tbody>
</table>
