@model IEnumerable<AdministracionEmpleados.Models.MovimientosModel>

@{
    ViewData["Title"] = "Index";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdEmpleado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreEmpleado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Edad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sexo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RolEmpleado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoEmpleado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusquedaNombre)
                <div class="form-group">
                    <input type="text"  class="form-control" />
                </div>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdEmpleado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreEmpleado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Edad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sexo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RolEmpleado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoEmpleado)
            </td>
            <td>
                @Html.ActionLink("Registrar Movimiento","RegistraMovimiento", new { id=item.IdEmpleado, nombre= item.NombreEmpleado}) |
                @Html.ActionLink("Consultar Movimientos", "ConsultaMovimientos", new { id=item.IdEmpleado }) |
 
            </td>
        </tr>
}
    </tbody>
</table>
